/* below are the style rules for the universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* below is the style rules for the body element */ 
body {
    background-color: #d9dcd6;
}
/* below are the style rules for the heder elements */ 
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* below are the style rules for the navigation bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* below are the style rules for all a tags in the document */
a {
    color: #ffffff;
    text-decoration: none;
}
/* below are the style rules for all the p tags in the document */ 
p {
    font-size: 16px;
}
/* below are the style rules for the hero image in the document */ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* below are the style rules for the search engine optimization and social media marketing sections */ 
.float-left {
    float: left;
    margin-right: 25px;
}
/* below are the style rules for the online reputation management section */ 
.float-right {
    float: right;
    margin-left: 25px;
}
/* below are the style rules for the content class selector */ 
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* below are the style rules for the benefits class selector */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* below are the style rules for the benefit class selector */ 
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/* below are the style rules for the benefit heading */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*below are the style rules for the benefit image*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* below are the style rules for the search engine optimization class selector */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* below are the style rules for the online reputation management class selector */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*below are the style rules for the social media marketing class selection */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*below is the style rule for the search engine optimization image */ 
.search-engine-optimization img {
    max-height: 200px;
}
/*below is the style rule for the online reputation management image */ 
.online-reputation-management img {
    max-height: 200px;
}
/*below is the style rule for the social media marketing image */ 
.social-media-marketing img {
    max-height: 200px;
}
/*below are the style rules for the search engine optimization heading */ 
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*below are the style rules for the online reputation management heading */ 
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*below are the style rules for the social media marketing heading */ 
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*below are the style rules for the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*below are the style rules for the footer heading */ 
.footer h2 {
    font-size: 20px;
}
